{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
<section id="reset" class="masthead bg-primary">
    <div class="container bg-white py-5 rounded">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="row mb-2">
                    <h1 class="text-center">New password</h1>
                    <hr class="divider" />
                </div>
                {% include "core/flashbag.html.twig" %}

                {{ form_start(resetPasswordForm) }}

                    {{ form_row(resetPasswordForm.email, {'attr':{'placeholder':'Enter your email'}}) }}
                    {{ form_row(resetPasswordForm.password) }}
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
