
    <form class="clearfix my-5">
        <div class="form-group mb-2">
            <textarea rows="2" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
        </div>
        <button class="btn btn-outline-secondary">Submit</button>
    </form>
