<!-- Masthead-->
<header id="home" class="masthead">
    <div class="container-fluid px-4 px-lg-5 h-100" >
        <div class="row gx-4 gx-lg-5 h-100 d-flex align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-primary font-weight-bold">Snow<span class="text-secondary">Tricks</span></h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline mb-5">
                <p class="fs-1 fw-400 text-primary mb-5">Share the passion for Snowboarding</p>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-secondary rounded px-3" href="#tricks"><i class="fas fa-angle-down fa-2x"></i></a>
            </div>
        </div>
    </div>
</header>