<!-- Tricks-->
<section  id="tricks" class="masthead" >
    <div class="container p-0 mt-5" >
        <div class="row g-0">
            <h1 class="text-primary text-center font-weight-bold">Tricks</h1>
            <hr class="divider" />
        </div>
        <div class="row p-4 d-flex justify-content-around">
            {% for trick in tricks %}
            <div class="col-12 col-md-10 col-lg-6 col-xl-4 mb-4">
                <a href="{{ path('trickShow',{'id':trick.id}) }}" title="{{ trick.title }}">
                    <img class="img-fluid featuredPicture" src="{{ trick.featuredPicture }}" alt="..." />
                    <div class="text-center">
                        <div class="bg-primary text-white text-decoration-none p-2 h5">{{ trick.title }}</div>
                    </div>
                </a>
            </div>
{% endfor %}
        </div>
        
    </div>
    <div class="container-fluid px-4 px-lg-5  mb-4">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <a class="btn btn-primary rounded px-3" href="#page-top"><i class="fas fa-angle-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>