{% import '/macro/button.html.twig' as button %}
{% set previousLink = path('app_comments') %}
{% extends 'base.html.twig' %}

{% block title %}Comment Delete{% endblock %}

{% block body %}
<section id="profile" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {{button.previous(previousLink)}}
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">Comment Delete</h1>
                        <hr class="divider" />
                    </div>
                    <div class="row">
                        <div class="col-12 alert alert-primary text-center">
                            Confirm deletion of the following comment :
                            <br />
                            {{ comment.user.firstname|capitalize ~ " " ~ comment.user.lastname|upper ~ " - " ~
                            comment.createdAt|date("m/d/Y") }}
                            <br>
                            <span>{{ comment.content }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <form action="" method="post">
                                <input type="hidden" name="delete" value="{{ comment.id }}" />
                                <button type="submit" class="btn btn-primary w-100">Confirm</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}