{% import '/macro/button.html.twig' as button %}
{% if app.user %}
{% set previousLink = path('app_users') %}
{% endif %}

{% extends 'base.html.twig' %}

{% block title %}Edit user role{% endblock %}

{% block body %}
<section id="admin" class="masthead bg-primary">
    <div class="container bg-white p-5 rounded">
        {% if app.user %}
        {{button.previous(previousLink)}}
        {% endif %}

        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="col">
                    <div class="row mb-2">
                        <h1 class="text-center">Edit user role</h1>
                        <hr class="divider" />
                    </div>
                    
                    {% include "core/flashbag.html.twig" %}

                    {{ form_start(userRoleForm) }}
                    {{ form_row(userRoleForm.roles) }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {{ form_end(userRoleForm) }}
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock %}