{% macro previous(path, option=[]) %}
<div class="row container ">
    <div class="col-10 px-0">
        <a href="{{ path }}" class="btn btn-outline-primary">
            < Previous page</a>
    </div>
</div>
{% endmacro %}